a.navlink {
    color: rgb(255, 255, 255);
    transition-property: color;
    transition-duration: 1s;
    font-size: 15px;
}

a.navlink:hover, a.navlink:focus {
    color: rgb(255, 184, 103);
    outline: none;
    
}

button.nav-button{

}

.navigation{
    width: 105%;
    margin: 0;
    background-color: #333333;
    margin-left: -40px;
    border-bottom: 1px solid rgb(231, 230, 230);
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navlink-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #333333;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    height: 45px;
    
}
/* 
ul.navigation {
    width: 100px;
    margin-bottom: 20%;
    margin-left: 78%;
    position: absolute;
    animation-duration: 1s;
    animation-name: navslidein;
    animation-timing-function: ease-out;
    margin-top: 150px;
   
}


@keyframes navslidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 78%;
    }
}


@keyframes logoslidein {
    from {
        margin-bottom: 60%;
    }
    to {
        margin-bottom: 42%;
    }
}

.nav-button {
    background-color: rgba(240, 248, 255, 0.144);
    border: 1px solid rgba(240, 248, 255, 0.212);
    color: aliceblue;
    transition-property: all;
    transition-duration: 1s;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;

}

button:hover.nav-button, button:focus.nav-button {
    background-color: rgba(255, 255, 85, 0.637);
    
    outline: none;
}


.nav-li {
    margin-left: -40px;
    
}

.nav-button.logout {
   
}

.dropdown-container li {
    
    padding: 10px;
    margin-left: -60px;
} */



img.logo {
    /* margin-top: 5%;
    margin-bottom: 42%;
    margin-left: 79%;
    position: absolute; */
    /* animation-duration: 1s;
    animation-name: logoslidein;
    animation-timing-function: ease-out; */
    height: 40px;
    


}